<button ng-click="getALLComments()">Get all comments</button>

<!--Posting a comment-->
<label class="btn btn-primary" ng-click="isCollapsedCreate = !isCollapsedCreate" ng-model="checkModel.left" uib-btn-checkbox>Leave a comment</label>
<div uib-collapse="isCollapsedCreate">
    <div class="well well-lg">
        <div>
            <textarea style="height:150px;width:500px;"  type="text" class="form-control" ng-model="data.comment" placeholder="your comment"> </textarea>
        </div>
        <button ng-click="createComment(data._id,data.comment)">Post comment</button>
        <div>{{postCommentRes}}</div>

    </div>
</div>


<!--getting all comments-->
<script type="text/ng-template"  id="tree_item_renderer.html">

    <ul>
        <div>
            <label class="btn btn-primary" ng-click="data.isCollapsed= !data.isCollapsed" ng-model="checkModel.left" uib-btn-checkbox>Reply</label>
            <div uib-collapse="!data.isCollapsed">
                <div class="well well-lg">
                    <div>
                        <textarea style="height:150px;width:500px;"  type="text" class="form-control" ng-model="data.comment" placeholder="your comment"> </textarea>
                    </div>
                    <button ng-click="createComment(data._id, data.comment)">Reply</button>
                </div>
            </div>
        </div>
        <li>id: {{data._id}}</li>
        <li>username : {{data.username}}</li>
        <li>message : {{data.message}}</li>
        <li>parentId: {{data.parentId}}</li>
        <li>likes: {{data.likes}}</li>
        <li>dislikes: {{data.dislikes}}</li>
        <li ng-repeat="data in data.reply track by $index" ng-include="'tree_item_renderer.html'"></li>
    </ul>


</script>
<ul>
    <li ng-repeat="data in commentArray"  ng-include="'tree_item_renderer.html'"></li>
</ul>

