<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biscuit clicker</title>
</head>
<body>
    <div class="Cookie shower">
        <span>{{biscuitAmount}}</span>
    </div>
<div class="buttons">
    <button ng-click="biscuitClick()">Add 1 biscuits</button>
    <button ng-click="biscuitAdder(5, 5, 5)">Add 5 biscuits</button>
    <button ng-click="biscuitAdder(25, 25, 25)">Add 25 biscuits</button>
    <button ng-click="biscuitAdder(100, 100, 100)">Add 100 biscuits</button>
    <button ng-click="biscuitAdder(500, 500, 500)">Add 500 biscuits</button>
    <button ng-click="biscuitAdder(1000, 1000)">Add 1000 biscuits</button>
</div>
</body>
</html>