<h1>{{ randomThing }}</h1>
<button ng-click="cookieIncrement()">
<span class="glyphicon glyphicon-asterisk" aria-hidden="true">Bake
</span>
</button>
<span>
  Cookie ammount <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>: {{ cookieAmount }}
</span>

<div ng-show="condition()">
	<button ng-click="cookieAdder()">
	<span class="glyphicon glyphicon-asterisk" aria-hidden="true">Bake 1 cookie per sec
	</span>
	</button>
	
</div>
<div ng-show="condition100()">
	<button ng-click="cookieAdder100()">
	<span class="glyphicon glyphicon-asterisk" aria-hidden="true">Bake 100 cookies per sec
	</span>
	</button>
	
</div>

