

<head>
    <script type="text/ng-template" id="alert.html">
        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
            <div ng-transclude></div>
        </div>
    </script>
</head>
<body>
<h1>Good day!</h1>

<p>Please login before executing further actions:</p>

<!----------------------------------- authentication ---------------------------------------->
<div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your username" ng-model="username">
    <input type="password" class="form-control" placeholder="Enter your password" ng-model="password">
    <button ng-click="authentication()">Login</button>
</div>

<div ng-if="userInfo.success === false">
    <uib-alert type="{{failureAlert}}" close="close = true" ng-show="!close">
        {{failureAlertText}}
    </uib-alert>
</div>
</body>
