<h1>{{font.puikus}}</h1>

<p> {{font.klausimas}} </p>
<label>TAIP!: <input type="checkbox" ng-model="master"></label><br/>
<div class="check-element animate-hide" ng-show="master">
        <span class="glyphicon glyphicon-thumbs-up"></span> Thank you!
</div>


<label >NE: <input type="checkbox" ng-model="checked" ></label><br/>

    <div class="check-element animate-hide" ng-show="checked">
        <span class="glyphicon glyphicon-thumbs-down"></span> But... but.. how dare you...
    </div>

<div> {{font.klausimas2}}</div>

<ul>
    <li ng-repeat="listas in font.listas">{{listas}}</li>
</ul>


<div >
    <label> <input type="text" ng-model="font.vardas"></label><br>
    Hello <span ng-bind="font.vardas"></span>!
</div>


<div class="form-group">
    <input type="text" class="form-control" placeholder="Score me please" ng-model="score">
    <button ng-click="addKintamasis()">send</button>
</div>

<pre> {{myScore | json}}</pre>

<pre ng-if="veikla">{{veikla | json}}</pre>
<pre ng-if="!veikla">Loading ...</pre>