<h1>{{puikus}}</h1>

<script>
    angular.module('checkboxExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.checkboxModel = {
                    value1 : true,
                    value2 : 'YES'
                };
            }]);
</script>

<p> {{klausimas}}</p>

<form name="myForm" ng-controller="ExampleController">
    <label>TAIP!:
        <input type="checkbox" ng-model="checkboxModel.TAIP!">
    </label><br/>
    <label>NE:
        <input type="checkbox" ng-model="checkboxModel.NE"
               ng-true-value="'YES'" ng-false-value="'NO'">
  </form>

