<div class="modal-header">
    <h3 class="modal-title">User creation</h3>
</div>
<div class="modal-body">

    <ul>
        <span>Name:</span><input type="text" class="form-control" ng-model="user.name" placeholder="Desired Name"/>
        <span> Username:</span><input type="text" class="form-control" ng-model="user.username" placeholder="Desired Username"/>
        <span>Password:</span><input type="password" class="form-control" ng-model="user.password" placeholder="Desired Password"/>
        <span></span>Admin:</span><select name="singleSelect" ng-model="user.admin">
            <option value="true">YES I AM!!!!</option>
            <option value="false">Totally!(Not really, actually no...)</option>
        </select>
       <span> Location:</span><input type="text" class="form-control" ng-model="user.location" placeholder="Desired Location"/>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Save user</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>