<head>
    <!---------------------------------- alert ---------------------------------->
    <script type="text/ng-template" id="alert.html">
        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
            <div ng-transclude></div>
        </div>
    </script>

    <style type="text/css">
        form.tab-form-demo .tab-pane {
            margin: 20px 20px;
        }
    </style>

</head>

<body>

<div style="font-style: italic; font-family: cursive; text-align: center; font-size: 50px">
Welcome !!
</div>


    <uib-alert type="{{successAlert}}" close="close = true" ng-show="!close">
        {{successAlertText}}
    </uib-alert>


    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Actions with users">
            <button class="select-button" ng-click="actionGet()">Users list</button>
            <button class="select-button" ng-click="actionPostModal()">Add user</button>



            <div style="margin-top: 20px">Enter user ID:</div>
            <input type="text" class="form-control" placeholder="ID" ng-model="user.id" style="width:300px" >
            <button class="select-button" ng-click="actionID()">Search</button>

            </div>
        </uib-tab>
        <uib-tab index="1" heading="Art section">
            <canvas-test></canvas-test> <br>
            <button class="select-button" ng-click="moveLeft()">Left</button>
            <button class="select-button" ng-click="moveRight()">Right</button>
<br>
            <raphael-directive></raphael-directive>

        </uib-tab>
    </uib-tabset>




<!--</div>-->
</body>

