<head>
    <!---------------------------------- alert ---------------------------------->
    <script type="text/ng-template" id="alert.html">
        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
            <div ng-transclude></div>
        </div>
    </script>



</head>

<body>
<!--------------------------------------- alerts -------------------------------------------->
<!--<div ng-if="userInfo.success === false">
    <uib-alert type="{{alerts.failedAuthentication.type}}" close="close = true" ng-show="!close">
        {{alerts.failedAuthentication.msg}}
    </uib-alert>
</div>

<div ng-if="userInfo.success === true">-->

    <uib-alert type="{{alerts.successfulAuthentication.type}}" close="close = true" ng-show="!close">
        {{alerts.successfulAuthentication.msg}}
    </uib-alert>

<button ng-click="actionGet()">Users list</button>
<button ng-click="actionPostModal()">Users list</button>
<button ng-click="actionID()">Users list</button>

     <div>Enter user ID:</div>
    <input type="text" class="form-control" placeholder="ID" ng-model="user.id">


    </div>


<!--</div>-->
</body>

