<head>
    <!---------------------------------- alert ---------------------------------->
    <script type="text/ng-template" id="alert.html">
        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
            <div ng-transclude></div>
        </div>
    </script>

    <!------------------------------- modals ------------------------------------>

</head>

<body>
<h1>Good day!</h1>

<p>Please login before executing further actions:</p>

<!----------------------------------- authentication ---------------------------------------->
<div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your username" ng-model="username">
    <input type="password" class="form-control" placeholder="Enter your password" ng-model="password">
    <button ng-click="authentication()">Login</button>
</div>

<!--------------------------------------- alerts -------------------------------------------->
<div ng-if="userInfo.success === false">
    <uib-alert type="{{alerts.failedAuthentication.type}}" close="close = true" ng-show="!close">
        {{alerts.failedAuthentication.msg}}
    </uib-alert>
</div>

<div ng-if="userInfo.success === true">

    <uib-alert type="{{alerts.successfulAuthentication.type}}" close="close = true" ng-show="!close">
        {{alerts.successfulAuthentication.msg}}
    </uib-alert>

    <p>Enter method (GET, POST, ID, PUT, DELETE)</p>

    <input type="text" class="form-control" placeholder="Next action?" ng-model="enter">

    <!---------------------------------- modals ----------------------------------------->

    <!----------------------------------- User list ------------------------------------>

    <button ng-click="actionGet()" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
            data-target="#userListModal">User list
    </button>

    <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="userListModalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="userListModalTitle">User list</h4>
                </div>
                <pre class="modal-body">
                    {{allUsers | json}}
                </pre>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------Add user ----------------------------------------->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addUserModal">Add
        user
    </button>

    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addedUserModalTitle">Add user</h4>
                </div>
                <div class="modal-body">
                    <div>Name:</div>
                    <input type="text" class="form-control" placeholder="Name" ng-model="user.name">

                    <div>Username:</div>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username">

                    <div>Password</div>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">

                    <div>Admin:</div>
                    <input type="text" class="form-control" placeholder="Admin rights" ng-model="user.admin">

                    <div>Location</div>
                    <input type="text" class="form-control" placeholder="Location" ng-model="user.location">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="actionPost()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------------- search by ID ------------------------------------------>
    <div>Enter user ID:</div>
    <input type="text" class="form-control" placeholder="ID" ng-model="user.id">

    <button ng-click="actionID()">Enter</button>
    <pre>{{userID | json}}</pre>


    <!------------------------------------------- actions with ID ------------------------------------------>

    <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions with ID
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li></li>

        </ul>
    </div>

    <!-----------------------------------------GETing all users-------------------------------->
    <div ng-if="enter === 'GET'">
        <button ng-click="actionGet()">Enter</button>
        <div>{{allUsers}}</div>
    </div>

    <!--------------------------------------adding user----------------------------------->
    <div ng-if="enter === 'POST'">
        <div>Name:</div>
        <input type="text" class="form-control" placeholder="Name" ng-model="user.name">

        <div>Username:</div>
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username">

        <div>Password</div>
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">

        <div>Admin:</div>
        <input type="text" class="form-control" placeholder="Admin rights" ng-model="user.admin">

        <div>Location</div>
        <input type="text" class="form-control" placeholder="Location" ng-model="user.location">
        <button ng-click="actionPost()">Enter</button>
    </div>

    <!----------------------------------- searching for user by ID ----------------------------------->
    <div ng-if="enter === 'ID'">
        <div>Enter user ID:</div>
        <input type="text" class="form-control" placeholder="ID" ng-model="user.id">
        <button ng-click="actionID()">Enter</button>
        <div>{{userID}}</div>
    </div>

    <!------------------------------------ editing user -------------------------------------------->
    <div ng-if="enter === 'PUT'">
        <div>Enter user ID:</div>
        <input type="text" class="form-control" placeholder="ID" ng-model="user.id">
        <button ng-click="allInOne()">Enter</button>
        <div ng-show="showInput==true">
            <!--<input  ng-repeat="(key,value) in userID track by $index" type="text" class="form-control" placeholder={{value}} ng-model="userID[key]">-->
            <span>Name:</span>
            <input type="text" class="form-control" placeholder={{userID.name}} ng-model="userID.name">

            <span>Username:</span>
            <input type="text" class="form-control" placeholder={{userID.username}} ng-model="userID.username">

            <span>Password:</span>
            <input type="text" class="form-control" placeholder={{userID.password}} ng-model="userID.password">

            <span>Admin:</span>
            <input type="text" class="form-control" placeholder={{userID.admin}} ng-model="userID.admin">

            <span>Location:</span>
            <input type="text" class="form-control" placeholder={{userID.location}} ng-model="userID.location">

            <button ng-click="saveUser()">Save</button>
        </div>
    </div>

    <!--------------------------------------- deleting user ----------------------------------------------->
    <div ng-if="enter === 'DELETE'">
        <div>Enter user ID:</div>
        <input type="text" class="form-control" placeholder="ID" ng-model="user.id">
        <button ng-click="allInOne()">Enter</button>
        <div ng-show="showInput==true">
            <!--<input  ng-repeat="(key,value) in userID track by $index" type="text" class="form-control" placeholder={{value}} ng-model="userID[key]">-->
            <span>Name:</span>
            <input type="text" class="form-control" placeholder={{userID.name}} ng-model="userID.name">

            <span>Username:</span>
            <input type="text" class="form-control" placeholder={{userID.username}} ng-model="userID.username">

            <span>Password:</span>
            <input type="text" class="form-control" placeholder={{userID.password}} ng-model="userID.password">

            <span>Admin:</span>
            <input type="text" class="form-control" placeholder={{userID.admin}} ng-model="userID.admin">

            <span>Location:</span>
            <input type="text" class="form-control" placeholder={{userID.location}} ng-model="userID.location">

            <div>Are you sure you want to delete this user?</div>
            <button ng-click="deleteUser()">Delete</button>
        </div>
    </div>
</div>
</body>

