<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User methods</title>
</head>
<body>
<h3>User Authentication</h3>
<div class="Authentication">
    <input type="text" class="form-control" ng-model="userName"/>
    <input type="text" class="form-control" ng-model="password"/>
    <button ng-click="Authenticate()">Authenticate</button>
    <div>{{authentication.data | json}}</div>
</div>
<div ng-if="authentication.message ==='Token is set!'">
<h3>Calling all users! All users get over here!!</h3>

    <button ng-click="getAllUsers()">Get all users</button>
<div ng-show="clickChecker" class="Getting users">

    <div class="user list">
        <ul>
            <li ng-repeat="users in allUserData">
            <ul>
                <li ng-repeat="(key, value) in users">{{key}}:{{value}}</li>
            </ul>
            </li>
        </ul>
    </div>
</div>
<h3>New user in ya go along with the rest of them!</h3>
<div class="Creating a user">
    <input type="text" class="form-control" ng-model="user.name" placeholder="Desired Name"/>
    <input type="text" class="form-control" ng-model="user.username" placeholder="Desired Username"/>
    <input type="text" class="form-control" ng-model="user.password" placeholder="Desired Username"/>
    <select name="singleSelect" ng-model="user.admin">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <input type="text" class="form-control" ng-model="user.admin" placeholder="Admin"/>
    <input type="text" class="form-control" ng-model="user.location" placeholder="Desired Location"/>
    <button ng-click="createUser()">Create user with entered info</button>
    <div>{{creation}}</div>
</div>
<h3>I will find you.. And i will kill you...</h3>
<div class="Searching a user by ID">
    <input type="text" class="form-control" ng-model="user._id" placeholder="Search by ID"/>
    <button ng-click="getUserById()">Search by ID</button>
    <ul>
        <li ng-repeat="(key, value) in userIDResponce">{{key}}:{{value}}</li>
    </ul>

</div>
<h4>Let's get a new name (or more!)</h4>
<div>
    <input type="text" class="form-control" ng-model="userUpdateId" placeholder="Enter user ID"/>
    <div>
        <input type="text" class="form-control" ng-model="user.name" placeholder="Desired Name"/>
        <input type="text" class="form-control" ng-model="user.username" placeholder="Desired Username"/>
        <input type="text" class="form-control" ng-model="user.password" placeholder="Desired Username"/>
        <input type="text" class="form-control" ng-model="user.admin" placeholder="Admin"/>
        <input type="text" class="form-control" ng-model="user.location" placeholder="Desired Location"/>
    </div>

    <button ng-click="updateUserById()">Update user info</button>
    <div>{{userUpdateResponce | json}}</div>
</div>
<h4>BE GONE!(make sure to enter ID :))</h4>
<div>
    <input type="text" class="form-control" ng-model="user._id" placeholder="Enter user ID"/>
    <button ng-click="deleteUserById()">Delete User</button>
    <div>{{userDeleteResponce | json}}</div>
</div>
</div>

</body>
</html>